body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

header {
    background-color: #F0FFF0;
}

.cnav {}

.logo {
    width: 130px;
}

.menu {}

.menu ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 18px !important;
    color: #000000 !important;
}

.menu ul li a: hover {
    background-color: #fff;
    ;
}

.btlogo {
    background-color: #21B573 !important;
    border-radius: 33px !important;
    margin-left: 15px;
   
}

.btlogo: hover{
    color: bisque !important;
    background-color:cadetblue !important :
}